.property-list-presentation-container {
    padding: 1rem;
    color: rgba(73,73,80,.8);
}

.property-item-row {
    display: flex;
    border-top-style: solid;
    border-color: #2ca9a5;
    border-width: 0.01rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.property-item-row-title {
    display: flex;    
    padding-top: 2rem;
    padding-bottom: 2rem;
    //font-weight: 700;
    color: #494950;
    opacity: .7;
}

.property-item-owner {
    width: 30rem;
    justify-content: flex-end;
    display: flex;
    align-items: flex-start;
}

.property-item-address {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10rem;
}

.property-item-income-generated {
    width: 30rem;
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
}

.section-title {
    color: #333;
    padding: 1rem;
    font-size: 2rem;
}

.property-table {
    padding-left: 6rem;
    padding-right: 6rem;
}