.service-area-marker-unknow-state {
  width: 1rem;
  height: 1rem;
  background-color: rgb(209, 208, 206);
  border-radius: 1rem;
}

.service-area-marker-servicable {
  width: 1rem;
  height: 1rem;
  background-color: #2ca9a5;
  border-radius: 1rem;
}

.service-area-marker-not-servicable {
  width: 1rem;
  height: 1rem;
  background-color: #ffaf00;
  border-radius: 1rem;
}
